.contact {
    max-width: 100%;

    // .contact__block

    &__block {
        padding: 70px 0;
        margin: 0 auto;
        max-width: 100%;
    }
}

.main {

margin-top: 50px;
display: flex;
justify-content: space-between;
}
@media (max-width:650px){
.main{
    display: block;
    justify-content: center;
}
}

.left {

    
    // .left__address

    &__block {
        
        display: flex;
        
    }
    @media (max-width:650px){
        &__block{
            margin: 0 auto;
            justify-content: space-between;
            max-width: 400px;
            
            
        }
    }
    &__png{
        margin-top: 7px;

    }

    // .left__text

    &__text {
        margin-left: 20px;
        H3{
            color: #555555;
            font-family: Montserrat;
            font-size: 14px;
            font-weight: 600;
            line-height: 30px;
            text-transform: uppercase;

        }
        p{
            margin-top: 10px;
            color: #555555;
            font-family: "Roboto Slab";
            font-size: 12px;
            font-weight: 600;
            line-height: 20px;

        }
    }
    @media (max-width:650px){
        &__text{
            display: flex ;
            align-items: center;
            justify-content: space-between;
            width: 280px;
            p{
                text-align: right;
                
            }
        }
        
    }

    
}
.form {
    margin-left: 120px;
    max-width: 730px;
    // .form__1line

    &__1line {
        max-width: 730px;
        display: flex;
        
        input{
            margin-bottom: 20px;
            width: 350px;
            height: 44px;
            border: 1px solid #555555;
            padding-left: 10px;
        }
        input:first-child{
            margin-right: 30px;
        }
        input:focus{
            border: 1px solid #c0301c;
            
            
        }
        input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; } 
input:focus::-moz-placeholder { color:transparent; } 
input:focus:-ms-input-placeholder { color:transparent; } 
        

    }
    @media (max-width:1050px){
        &__1line{
            input{
                max-width: 250px;
            }
        }
    }
    @media (max-width:850px){
        &__1line{
            input{
                max-width: 200px;
            }
        }
    }
    @media (max-width:750px){
        &__1line{
            input{
                max-width: 135px;
            }
        }
    }

    // .form__3line

    &__3line {
        textarea{
            width: 730px;
            height: 104px;
            border: 1px solid #555555;
            padding-top: 10px;
            padding-left: 10px;
            resize: none;
            
        }
        textarea:focus{
            border: 1px solid #c0301c;
        }
        textarea:focus::-webkit-input-placeholder { color:transparent; }
        textarea:focus:-moz-placeholder { color:transparent; }
        textarea:focus::-moz-placeholder { color:transparent; }
        textarea:focus:-ms-input-placeholder { color:transparent; }
    }
    @media (max-width:1050px){
        &__3line{
            textarea{
                max-width: 530px;
            }
        }
    }
    @media (max-width:850px){
        &__3line{
            textarea{
                max-width: 430px;
            }
        }
    }
    @media (max-width:750px){
        &__3line{
            textarea{
                max-width: 300px;
            }
        }
    }

    // .form__button

    &__button {
        margin-top: 20px;
        display: flex;
        align-items: center;
        
        button{
            background-color: transparent;
            width: 170px;
            height: 44px;
            border: 1px solid #555555;
            
            a{
                color: #555555;
                font-family: "Roboto Slab";
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.6px;

            }
            
        }
        button:hover{
            border: 1px solid #c0301c;
            a{
                color: #c0301c;
            }
        }
        @media (max-width:750px){
            button{
                width: 120px;
            }
        }
            p{
                margin-left: 25px;
                color: #555555;
                font-family: "Roboto Slab";
                font-size: 11px;
                font-weight: 400;
                line-height: 20px;
                span{
                color: #c0301c;
            }
        }
        

        
        
    }
    @media (max-width:850px){
        &__button{   
        
            p{
                max-width: 180px;
            }
        
    }
}
@media (max-width:750px){
    &__button{   
    
        p{
            max-width: 145px;
        }
    
}
}
}
@media (max-width:650px){
.form{
    padding-top: 25px;
    margin-left: 0;
    max-width: 330px;
    margin: auto;
    padding-right: 2px;
    
}
}