.footer{
    background-color: #200606;
    min-height: 60px;
    .container{
        height: 100%;
        display: flex;
        &__center{
            margin: auto;
            width: 100%;
        }
        
    }
    &__block{
        display: flex;
        justify-content: space-between;
        margin: auto;
    }
    @media(max-width:750px){
        &__block{
            display: block;
            
        }
    }
    &__left{
        font-size: 13px;
        font-family: "Montserrat";
        color: rgb(136, 136, 136);
        display: flex;
        .lastlogo{
            span{
                color: #c0c0c0;
            }
                
        }
        ul{
            display: flex;
            li{
                padding-left: 15px;
                margin-left: 15px;
                border-left: 1px solid rgb(136, 136, 136);
                a{
                    color: rgb(136, 136, 136);
                }
                a:hover{
                    color: #c57979;
                }
            }
            @media(max-width:850px){
                li{
                    padding-left: 5px;
                margin-left: 5px;
                }
            }
        }

    }
    @media(max-width:750px){
        &__left{
            margin-top: 10px;
            justify-content: center;
            
        }
    }
    &__right{
        display: flex;
        font-size: 13px;
        font-family: "Montserrat";
        color: rgb(136, 136, 136);
        p:last-child{
            padding-left: 20px;
            margin-left: 20px;
            border-left: 1px solid rgb(63, 62, 62);
        }
        p{
            span{
                color: #aaaaaa;
            }
        }

    }
    @media(max-width:750px){
        &__right{
            margin-top: 10px;
            justify-content: center;
            
        }
    }
}