header {
    width: 100%;
    height: 121px;
    position: fixed;
    height: 121px;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: black;
}
.header {
    display: flex;
    height: 121px;
    background-color: rgb(0, 0, 0);
    &__wrapper {
        display: flex;
        justify-content: space-between;
        width: 100%;
        align-items: center;
    }

    // .header__logo

    &__logo {
        img {
            display: block;
        }
    }

    // .header__contact-header
    &__contact{
        display: flex;
        max-width: 360px;
        margin-left: 27px;
        margin-top: -2px;
    }
    &__contact-header {

        display: flex;
        margin-top: -5px;
        align-items: flex-end;

        .phone-png {
            margin-right: 12px;
        }
        .phone-number {
            .schedule {
                color: #e6362c;
                font-size: 12px;
                font-weight: 400;
                margin-left: 5px;
                text-transform: uppercase;
                letter-spacing: 0.2px;
            }

            .number {
                margin-left: -1px;
                background-color: transparent;
                color: #ffffff;
                font-size: 21px;
                font-weight: 700;
                display: block;
                align-items: center;
                letter-spacing: 1px;
                option {
                    background: transparent;
                }
            }
        }
    }

    // .header__language

    &__language {
        margin-left: 63px;
        display: flex;
        align-items: center;
        img {
            display: block;
        }
        .language {
            margin-left: 2px;
            background-color: transparent;
            color: #e6362c;
            font-size: 20px;
        }
    }

    // .header__list

    &__list {
        display: flex;
        justify-content: space-between;
        align-items: center;
        li {
            margin-left: 30px;
        }
        li:nth-child(1){
            margin-left: 0;
        }
        
        li:nth-child(3),
        li:nth-child(4) {
            display: flex;
            position: relative;
            .arrow {
                margin-left: 5px;
                margin-top: 7px;
                display: block;
                height: 8px;
            }
            ul {
                position: absolute;
                top: 100%;
                transform: scaleY(0);
                transition: all 0.7s ease;
                transform-origin: 0 0;
                li {
                    padding-top: 3px;
                }
            }
        }
        li:nth-child(3):hover,
        li:nth-child(4):hover {
            ul {
                transform: scaleY(1);
                transition: all 0.7s ease;
                transform-origin: 0 0;
            }
        }
        a {
            color: #ffffff;
            font-size: 19px;
            font-weight: 400;
            font-family: "Clear Sans";
        }
        a:after {
            content: "";
            width: 0;
            height: 2px;
            display: block;
            background-color: #ffffff;
            -webkit-transition: width 0.3s ease-in-out;
            -moz--transition: width 0.3s ease-in-out;
            transition: width 0.3s ease-in-out;
        }
        a:hover:after,
        a:hover:focus:after {
            width: 100%;
        }
        form {
            position: relative;
            width: 31px;
            margin: 0 auto;
            height: 32px;
        }
        input {
            height: 32px;
            width: 0;
            padding: 0 42px 0 15px;
            border: none;
            border-bottom: 2px solid transparent;
            outline: none;
            background: transparent;
            transition: 0.4s cubic-bezier(0, 0.8, 0, 1);
            position: absolute;
            top: 0;
            right: 0;
            z-index: 2;
            color: blanchedalmond;
            font-size: 15px;
        }
        input:focus {
            width: 300px;
            z-index: 1;
            border-bottom: 2px solid #f9f0da;
            background-color: black;
        }
        button {
            background: transparent;
            border: none;
            height: 32px;
            width: 42px;
            position: absolute;
            top: 0;
            cursor: pointer;
        }
    }

    &__burger {
        display: none;
        height: 30px;
        position: relative;

        .burger {
            width: 30px;
            height: 2px;
            background-color: white;
            transition: all 0.5s;
        }
        .burger.active {
            background-color: black;
            transition: all 0.5s;
        }
        .burger:after,
        .burger:before {
            content: "";
            position: absolute;
            width: 30px;
            height: 2px;
            background-color: white;
            transition: all 0.8s;
        }
        .burger:after {
            top: 10px;
        }
        .burger:before {
            bottom: 10px;
        }
        .burger.active:after {
            transform: rotate(-225deg);
            top: 14px;
            transition: all 0.5s;
        }
        .burger.active:before {
            transform: rotate(225deg);
            bottom: 13px;
            transition: all 0.5s;
        }
    }
}
