$color: rgb(255, 255, 255);
$color-hover: rgb(199, 178, 153);


.header {
    width: 100%;
    background-color: rgba(68, 68, 68, 0.2);
    height: 80px;
    position: fixed;
    z-index: 50;

    // .header__block

    &__block {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 11px;
    }

    // .header__brand

    &__brand {
        padding-left: 10px;
        a{
        display: flex;
        align-items: center;
        img{
            display: block;
        }
    }
}
    &__burger{
        display: none;
    }
    @media(max-width:900px){
    &__burger{
        display: block;
        position: relative;
        width: 30px;
        height: 19px;
        right: 20px;
        span{
            content: '';
            width: 30px;
            height: 1px;
            background-color: $color;
            position: absolute;
            top: 10px;
            transition: all 0.4s ease 0s;

        }
    }
        

    &__burger:after,
    &__burger:before{
            content: '';
            width: 30px;
            height: 1px;
            background-color: $color;
            position: absolute;
            transition: all 0.4s ease 0s;
        }
        &__burger:after{
            top: 0px;
        }
        &__burger:before{
            bottom: 0px;
        }

    
    &__burger.active span{
        transform: scale(0);
    }
    &__burger.active:after{
        transform: rotate(-45deg);
        top: 9px;
    }
    &__burger.active:before{
        transform: rotate(45deg);
        bottom: 9px;
    }
    &__menu {
        display: block;
    }
}
    // .header__menu
    
    &__menu {
        display: flex;
        align-items: center;
        
    }
    

    // .header__list

    &__list {
        display: flex;
        justify-content: right;
    }

    // .header__link

    &__link {
        font-size: 14px;
        font-family: "Montserrat";
        color: $color;
        margin-left: 20px;
    }
    &__link:hover{
        color: $color-hover;
    }

    // .header__item

    &__item {
        display: flex;
        right: 0;
    }
    @media(max-width:900px){
        &__menu {
            display: block;
            position: fixed;
            top: -100%;
            left: 0;
            transition: all 0.4s ease 0s;
            

        }
        &__menu.active{
            margin-top: 80px;
        }
        &__list{
            display: block;
            
            li{
                margin-bottom: 15px;
            }
        }
        .active{
            top: 0px;
            transition: all 0.4s ease 0s;
        }
        &__link{
            font-size: 22px;
        }
        
        
    }
}

.shop {
    margin-left: 40px;

    // .shop__png

    &__png {
        display: block;
    }
}
.search {
    display: flex;
    position: relative;
    margin-left: 15px;
    justify-content: center;

    // .search__input

    &__input {
        
        display:block;
        background-color: transparent;
        
        width: 70px;
        color: #fff;
        
        
        
        
    }
    
    .inputt{
        display: none;
        
    }

    // .search__png

    &__png {
        display: block;
        position: absolute;
        
        
    }
}

