

@media (max-width:1024px){
    header{
        height: 90px;
    }
    .line{
        max-width: 100%;
    }
    .container{
        max-width: 100%;
    }
    .header{
        padding: 0 5px;
        &__contact-header{
            display: none;
        }
        &__list{
            a{
                font-size: 15px;
            }
        }
    }
    .aboute{
        max-width: 100%;
    }
    .top{
        .swiper-container{
            .swiper-wrapper{
                .slider-wrapper{
                    top: 30%;
                    left: 30%;
                }
            }
        }
    }
    .product{
        .item{
            justify-content: space-evenly;
            padding: 0 30px;
            
        }
    }
    
}
@media (max-width:768px){
    header{
        height: 70px;
    }
    
    .header{
        
        &__logo {
            img{
            width: 150px;
            }
        }
        
        &__list{
            li{
                margin: 0 5px;
            }
            a{
                font-size: 13px;
            }
        }
    }
    .footer{
        &__main{
            width: 100%;
            padding: 0 20px;
        }
    }
    
}
@media (max-width:767px){
    header{
        height: 70px;
    }
    
    .header{
        
        &__wrapper{
            width: 100%;
            justify-content: space-evenly;
        }
        &__burger{
            display: block;
        }
        &__list.active{
            background-color: #460101ee;
            display: block;
            width: 100%;
            height: 100vh;
            position: absolute;
            padding: 10px;
            top: 70px;
            left: 0;
            li:nth-child(3),
            li:nth-child(4){
                .arrow{
                    height: 15px;
                }
            ul{
                right: 20px;
                top: 0;
            }
        }
            input{
                left: 0;
            }
            li{
                margin-left: 0;
                margin-top: 10px;
                a{
                font-size: 25px;
                }
            }
            form{
                margin-left: 0;
            }
        }
        &__list{
            display: none;
            width: 493px;
            a{
                font-size: 13px;
            }
        }
    }
    .footer{
        &__main{
            width: 100%;
            padding: 0 20px;
        }
    }
    
}
@media (max-width:650px){
    .header{
        &__language{
            margin: 0;
        }
    }
    .top{
        .swiper-container{
            .swiper-wrapper{
                H4{
                    font-size: 27px;
                }
                .title-slider{
                    font-size: 49px;
                }
                .text-slider{
                    font-size: 15px;
                }
            }
        }
    }
    .footer{
        &__up{
            right: 10px;
            bottom: 70px;
        }
        &__main{
            width: 100%;
            padding: 0 20px;
            .menu{
                &__bottom{
                    display: block;
                    a{
                        margin-top: 5px;
                        font-size: 18px;
                    }
                }
            }
        }
    }
    
}
@media (max-width:450px){
    .top{
        .swiper-container{
            .swiper-wrapper{
                .slider-wrapper{
                    position: absolute;
                    top: 120px;
                    left: 10%;
                }
                .swiper-slide{
                    background-position: center;
                    height: 545px;
                }
                H4{
                    font-size: 27px;
                }
                .title-slider{
                    font-size: 49px;
                    line-height: 45px;
                }
                .text-slider{
                    font-size: 15px;
                }
            }
        }
    }
}
@media (max-width:414px){
    .top{
        .swiper-container{
            .swiper-wrapper{
                .swiper-slide{
                    background-position: center;
                    height: 545px;
                }
                
                H4{
                    font-size: 25px;
                }
                .title-slider{
                    font-size: 39px;
                    line-height: 47px;
                }
                .text-slider{
                    font-size: 15px;
                }
            }
        }
    }
}