$textcolor: rgb(85, 85, 85);
$textp: rgb(140, 140, 140);
$color-hover: rgb(199, 178, 153);
$color: rgb(255, 255, 255);

.project{
    &__block{
        padding-top: 35px;
        padding-bottom: 35px;
    }
    &__top{text-align: center;
        H3{
            font-size: 30px;
            font-family: "Raleway";
            color: $textcolor;
            font-weight: bold;
            line-height: 1.2;
            

        }
        p{
            margin-top: 25px;
            font-size: 16px;
            font-family: "Montserrat";
            color: $textp;
            line-height: 1.75;
        }
    }
    &__buttons{
        margin-top: 25px;
        
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        button{
            
            font-size: 14px;
            font-family: "Montserrat";
            color: $textp;
            line-height: 1.5;
            text-align: center;
            padding: 5px 20px;
            background-color: transparent;
            border: 1px solid rgb(235, 235, 235);
            border-radius: 4px;
            margin: 10px 10px;

        }
        button:focus{
            color: $color;
            background-color: $color-hover;

        }
    }
    .items{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        &__block{
            width: 30%;
        }
        &__png{
            margin-top: 30px;
            position: relative;
            .phone{max-width: 100%;
                img{
                    max-width: 100%;
                }
                
            }
            .hover{
                opacity: 0;
                height: 100%;
                width: 100%;
                position: absolute;
                transition: all 1s ease 0s;
                
                
                background-color: rgba(33, 27, 25, 0.3);
                .hover-block{
                    height: 100%;
                    width: 70px;
                    display: flex;
                    justify-content: space-between;
                    margin: auto;
                    margin-top: 30%;
                }
            }
            
                
                
            
        }
        &__text{
            text-align: center;
            height: 90px;
            background-color: rgb(251, 250, 248);
            H4{
                    padding-top: 20px;
                    font-size: 20px;
                    font-family: "Raleway";
                    color: $color-hover;
            }
            p{
                margin-top: 15px;
                font-size: 14px;
                font-family: "Montserrat";
                color: rgb(209, 209, 209);
            }
        }
        @media(max-width:600px){
            &__text{
                
                height: 90px;
                H4{
                        padding-top: 20px;
                        font-size: 16px;
                        
                }
                p{
                    margin-top: 15px;
                    font-size: 10px;
                    
                }
            }
        }
        @media(max-width:450px){
            &__text{
                
                height: 90px;
                H4{
                        padding-top: 20px;
                        font-size: 14px;
                        
                }
                p{
                    margin-top: 15px;
                    font-size: 8px;
                    
                }
            }
        }
        
    }
    .items{
        
        &__text:hover{
            background-color: rgba(33, 27, 25, 1);
        }
        
            .hover:hover{
                opacity: 1;
                transition: all 1s ease 0s;
            }
            
        
    }
    &__button{
        text-align: center;
        button{

                margin-top: 35px;
                border-radius: 3px;
                background-color: $color-hover;
                box-shadow: inset 0px 4px 0px 0px rgba(115, 99, 87, 0.4);
                width: 170px;
                height: 53px;
                margin-bottom: 10px;
                font-size: 14px;
                font-family: "Raleway";
                color: $color;
                font-weight: bold;
                
                        
                
                
        }
        button:hover{
            transition: 0.3s;
                    transform: scale(1.2);
            }
    }
    
}
    

