@import "../css/0.css";
@import '../../node_modules/reset-css/sass/_reset.scss';
@import "../fonts/fonts.css";

@media (max-width:600px){
    body.lock{
        overflow: hidden;
    
}}
html,
body{
    height: 100%;
}
.wrapper{
    min-height: 100vh;
    display: flex;
    flex-direction: column;

}
.block-title{
    text-align: center;
    padding-top: 70px;
    .maintitle{
        color: #555555;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 400;
        line-height: 24px;
        margin-bottom: 28px;
    }
    .mainline{
        
        margin: 0 auto;
        width: 50px;
        height: 1px;
        background-color: #555555;}
    .titleh2{
        margin-top: 28px;
        color: #555555;
        font-family: "Roboto Slab";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px;}
}
@import "header.scss";
@import "home.scss";
@import "services";
@import "about.scss";
@import "slick.scss";
@import "work.scss";
@import "blog.scss";
@import "clients.scss";
@import "contacts.scss";
@import "footer.scss";










