@import "../css/0.css";

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    box-sizing: border-box; 
    font-family: Roboto;
    background-color: black;
    padding: 0 5px ;
    }
    .line{
        width: 1298px;
        height: 3px;
        background-color: #202020;
        margin: 0 auto;
        margin-top: 73px;
        
    }
    .container {
        width: 1425px;
        margin: 0 auto;
    }
.lock{
    overflow: hidden;
}
@import "fonts.scss";
@import 'header.scss';
@import 'top.scss';
@import 'product.scss';
@import 'clients.scss';
@import "footer.scss";
@import "media.scss";


