.video{
    background-image: url(../img/photobg.png);
    height: 700px;
    display: flex;
    &__container{
        margin: auto;
    }
    &__block{
        text-align: center;
        .circle{
            margin: 0 auto;
            width: 100px;
            height: 100px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-image: url(../img/circle.png);
                img{
                    display: block;
                    
                    

                }
        }
        H3{
            margin-top: 25px;
            font-size: 30px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
            }
        p{
            margin-top: 15px;
            font-size: 16px;
            font-family: "Montserrat";
            color: rgb(255, 255, 255);
            line-height: 1.75;
            }
        H6{ margin-top: 20px;
            font-size: 14px;
            font-family: "Montserrat";
            color: rgb(199, 178, 153);
                
        }
    }
}