
@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Light.eot');
    src: local('Clear Sans Light'), local('ClearSans-Light'),
        url('ClearSans-Light.eot?#iefix') format('embedded-opentype'),
        url('ClearSans-Light.woff') format('woff'),
        url('ClearSans-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans.eot');
    src: local('Clear Sans'), local('ClearSans'),
        url('ClearSans.eot?#iefix') format('embedded-opentype'),
        url('ClearSans.woff') format('woff'),
        url('ClearSans.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Medium.eot');
    src: local('Clear Sans Medium'), local('ClearSans-Medium'),
        url('ClearSans-Medium.eot?#iefix') format('embedded-opentype'),
        url('ClearSans-Medium.woff') format('woff'),
        url('ClearSans-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Clear Sans';
    src: url('ClearSans-Bold.eot');
    src: local('Clear Sans Bold'), local('ClearSans-Bold'),
        url('ClearSans-Bold.eot?#iefix') format('embedded-opentype'),
        url('ClearSans-Bold.woff') format('woff'),
        url('ClearSans-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
