.about__line {
  display: flex;
  padding: 30px 0; }
  .about__line .first-line {
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; }
    .about__line .first-line .block-about {
      width: 23%;
      text-align: center; }
      .about__line .first-line .block-about .title {
        font-size: 22px;
        font-family: "Raleway";
        color: #555555;
        font-weight: 700;
        margin-top: 15px; }
      .about__line .first-line .block-about p {
        font-size: 14px;
        font-family: "Montserrat";
        color: #8c8c8c;
        line-height: 1.714;
        position: relative;
        margin-top: 15px; }
      .about__line .first-line .block-about p:after {
        position: absolute;
        content: '';
        width: 100px;
        height: 2px;
        background-color: #8c8c8c;
        opacity: .5;
        left: 50%;
        margin-left: -50px;
        margin-top: 50px; }
    @media (max-width: 1023px) {
      .about__line .first-line .block-about {
        width: 45%; }
        .about__line .first-line .block-about p:after {
          margin-top: 20px; } }
    .about__line .first-line .block-about:hover img {
      opacity: 0.4; }
    .about__line .first-line .block-about:hover .title {
      color: #c7b299; }
    .about__line .first-line .block-about:hover p {
      color: #c7b299; }
    .about__line .first-line .block-about:hover p:after {
      color: #c7b299;
      opacity: .2; }

.about__second-line {
  text-align: center;
  background-color: #fbfaf8; }
  .about__second-line .container {
    padding-top: 35px; }
  .about__second-line H2 {
    font-size: 30px;
    font-family: "Raleway";
    color: #555555;
    font-weight: 700;
    line-height: 1.2; }
  .about__second-line p {
    margin-top: 15px;
    font-size: 16px;
    font-family: "Montserrat";
    color: #8c8c8c;
    line-height: 1.75; }
  .about__second-line .browser {
    margin-top: 15px;
    height: 500px;
    position: relative; }
    .about__second-line .browser img {
      max-width: 100%; }
    .about__second-line .browser__left {
      position: absolute;
      bottom: 0;
      left: 0; }
    .about__second-line .browser__center {
      text-align: center;
      position: absolute;
      bottom: 0;
      display: flex;
      left: 18%; }
    @media (max-width: 950px) {
      .about__second-line .browser__center {
        left: 0; } }
    .about__second-line .browser__right {
      position: absolute;
      bottom: 0;
      right: 0; }
  @media (max-width: 500px) {
    .about__second-line .browser {
      height: 350px; } }
  @media (max-width: 450px) {
    .about__second-line .browser {
      height: 280px; } }

.about__third-line {
  min-height: 150px;
  background-image: -moz-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -webkit-linear-gradient(0deg, #211b19 0%, #4e3427 100%);
  background-image: -ms-linear-gradient(0deg, #211b19 0%, #4e3427 100%); }

.about__left-text H3 {
  font-size: 28px;
  font-family: "Raleway";
  color: white;
  line-height: 1.2;
  opacity: 0.8; }
  .about__left-text H3 span {
    color: #c7b299; }

.about__left-text p {
  font-size: 18px;
  font-family: "Montserrat";
  color: #555555;
  line-height: 1.2; }

.about__third-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px; }
  .about__third-block button {
    margin-top: 25px;
    border-radius: 3px;
    background-color: #c7b299;
    box-shadow: inset 0px 4px 0px 0px rgba(115, 99, 87, 0.4);
    width: 170px;
    height: 53px;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: "Raleway";
    color: white;
    font-weight: 700;
    line-height: 1.643; }
  .about__third-block button:hover {
    transition: 0.3s;
    transform: scale(1.2); }

@media (max-width: 650px) {
  .about__third-block {
    display: block;
    text-align: center; } }
