.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3); }
  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center; }
  .header__logo {
    flex: 0 0 95px;
    overflow: hidden;
    position: relative;
    z-index: 3; }
  .header__logo p {
    max-width: 100%;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; }
  .header__burger {
    display: none; }
  .header__list {
    display: flex;
    position: relative;
    z-index: 2; }
  .header__list li {
    list-style: none;
    margin-left: 20px; }
  .header__link {
    width: 540px;
    height: 14px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.35px; }
  .header__link:hover {
    color: #c0301c; }
  @media (max-width: 600px) {
    .header__logo {
      flex: 0 0 170px;
      padding-left: 6px; }
      .header__logo p {
        font-size: 40px; }
    .header__body {
      padding: 0;
      height: 50px; }
    .header .lock {
      overflow: hidden; }
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3; }
      .header__burger span {
        position: absolute;
        height: 2px;
        left: 0;
        background-color: #fff;
        left: 0;
        width: 30px;
        top: 9px;
        transition: all 0.4s ease 0s; }
    .header__burger:before, .header__burger:after {
      content: '';
      background-color: white;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      transition: all 0.4s ease 0s; }
    .header__burger:after {
      bottom: 0; }
    .header__burger:before {
      top: 0; }
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px; }
    .header__burger.active span {
      transform: scale(0); }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px; }
    .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 70px 0px 20px 0px;
      transition: all 2s ease 0s;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.3); }
    .header__list {
      display: block; }
    .header__menu.active {
      top: 0; }
    .header__list li {
      margin-bottom: 30px; }
      .header__list li__list li:hover {
        transition: 1s;
        transform: scale(1.2); }
    .header__link {
      font-size: 30px; } }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px; }
