.brend {
  background-image: url(../img/photobgr.png);
  height: 500px;
  background-size: cover; }
  .brend .container {
    display: flex;
    height: 100%; }
  .brend__block {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: auto; }
    @media (max-width: 500px) {
      .brend__block img {
        max-width: 75%; } }
