.project__block {
  padding-top: 35px;
  padding-bottom: 35px; }

.project__top {
  text-align: center; }
  .project__top H3 {
    font-size: 30px;
    font-family: "Raleway";
    color: #555555;
    font-weight: bold;
    line-height: 1.2; }
  .project__top p {
    margin-top: 25px;
    font-size: 16px;
    font-family: "Montserrat";
    color: #8c8c8c;
    line-height: 1.75; }

.project__buttons {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .project__buttons button {
    font-size: 14px;
    font-family: "Montserrat";
    color: #8c8c8c;
    line-height: 1.5;
    text-align: center;
    padding: 5px 20px;
    background-color: transparent;
    border: 1px solid #ebebeb;
    border-radius: 4px;
    margin: 10px 10px; }
  .project__buttons button:focus {
    color: white;
    background-color: #c7b299; }

.project .items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .project .items__block {
    width: 30%; }
  .project .items__png {
    margin-top: 30px;
    position: relative; }
    .project .items__png .phone {
      max-width: 100%; }
      .project .items__png .phone img {
        max-width: 100%; }
    .project .items__png .hover {
      opacity: 0;
      height: 100%;
      width: 100%;
      position: absolute;
      transition: all 1s ease 0s;
      background-color: rgba(33, 27, 25, 0.3); }
      .project .items__png .hover .hover-block {
        height: 100%;
        width: 70px;
        display: flex;
        justify-content: space-between;
        margin: auto;
        margin-top: 30%; }
  .project .items__text {
    text-align: center;
    height: 90px;
    background-color: #fbfaf8; }
    .project .items__text H4 {
      padding-top: 20px;
      font-size: 20px;
      font-family: "Raleway";
      color: #c7b299; }
    .project .items__text p {
      margin-top: 15px;
      font-size: 14px;
      font-family: "Montserrat";
      color: #d1d1d1; }
  @media (max-width: 600px) {
    .project .items__text {
      height: 90px; }
      .project .items__text H4 {
        padding-top: 20px;
        font-size: 16px; }
      .project .items__text p {
        margin-top: 15px;
        font-size: 10px; } }
  @media (max-width: 450px) {
    .project .items__text {
      height: 90px; }
      .project .items__text H4 {
        padding-top: 20px;
        font-size: 14px; }
      .project .items__text p {
        margin-top: 15px;
        font-size: 8px; } }

.project .items__text:hover {
  background-color: #211b19; }

.project .items .hover:hover {
  opacity: 1;
  transition: all 1s ease 0s; }

.project__button {
  text-align: center; }
  .project__button button {
    margin-top: 35px;
    border-radius: 3px;
    background-color: #c7b299;
    box-shadow: inset 0px 4px 0px 0px rgba(115, 99, 87, 0.4);
    width: 170px;
    height: 53px;
    margin-bottom: 10px;
    font-size: 14px;
    font-family: "Raleway";
    color: white;
    font-weight: bold; }
  .project__button button:hover {
    transition: 0.3s;
    transform: scale(1.2); }
