.services {
  max-width: 100%; }
  .services__column {
    margin-top: 70px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px; }
  @media (max-width: 600px) {
    .services__column {
      display: block;
      padding-bottom: 10px; } }
  .services__each-column .redlogo {
    border: 2px solid #dddddd;
    background-color: #c0301c; }
  .services__each-column .logomini {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .services__each-column .redlogo {
    border: 2px solid #dddddd;
    background-color: #c0301c; }
  .services__each-column H2 {
    margin-top: 29px;
    color: #555555;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase; }
  .services__each-column p {
    margin-top: 24px;
    padding: 0 20px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }
  @media (max-width: 600px) {
    .services__each-column p {
      margin-bottom: 20px; } }
  .services__main {
    text-align: center; }
