@charset "UTF-8";
@import url(../css/0.css);
/* http://meyerweb.com/eric/tools/css/reset/
   v5.0.1 | 20191019
   License: none (public domain)
*/
@import url(../fonts/fonts.css);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, menu, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block; }

/* HTML5 hidden-attribute fix for newer browsers */
*[hidden] {
  display: none; }

body {
  line-height: 1; }

menu, ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@media (max-width: 600px) {
  body.lock {
    overflow: hidden; } }

html,
body {
  height: 100%; }

.wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column; }

.block-title {
  position: relative;
  text-align: center; }
  .block-title .maintitle {
    color: #555555;
    font-family: Montserrat;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px; }
  .block-title .maintitle:after {
    content: "";
    width: 50px;
    height: 2px;
    background-color: #555555;
    position: absolute;
    margin-top: 50px;
    left: 50%;
    margin-left: -25px; }
  .block-title .titleh2 {
    margin-top: 48px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px; }

.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.3); }
  .header__body {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 80px;
    align-items: center; }
  .header__logo {
    flex: 0 0 95px;
    overflow: hidden;
    position: relative;
    z-index: 3;
    max-width: 100%;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px; }
  .header__burger {
    display: none; }
  .header__list {
    display: flex;
    position: relative;
    z-index: 2; }
  .header__list li {
    list-style: none;
    margin-left: 20px; }
  .header__link {
    width: 539px;
    height: 14px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.35px; }
  .header__link:hover {
    color: #c0301c; }
  .header__link:active {
    color: #c0301c; }
  @media (max-width: 600px) {
    .header__logo {
      flex: 0 0 170px;
      padding-left: 6px; }
      .header__logo p {
        font-size: 40px; }
    .header__body {
      padding: 0;
      height: 50px; }
    .header .lock {
      overflow: hidden; }
    .header__burger {
      display: block;
      position: relative;
      width: 30px;
      height: 20px;
      position: relative;
      z-index: 3; }
      .header__burger span {
        position: absolute;
        height: 2px;
        left: 0;
        background-color: #fff;
        left: 0;
        width: 30px;
        top: 9px;
        transition: all 0.4s ease 0s; }
    .header__burger:before, .header__burger:after {
      content: '';
      background-color: white;
      position: absolute;
      left: 0;
      width: 30px;
      height: 2px;
      transition: all 0.4s ease 0s; }
    .header__burger:after {
      bottom: 0; }
    .header__burger:before {
      top: 0; }
    .header__burger.active:before {
      transform: rotate(45deg);
      top: 9px; }
    .header__burger.active span {
      transform: scale(0); }
    .header__burger.active:after {
      transform: rotate(-45deg);
      bottom: 9px; }
    .header__menu {
      position: fixed;
      top: -100%;
      left: 0;
      width: 100%;
      height: 100%;
      padding: 70px 0px 20px 0px;
      transition: all 2s ease 0s;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.3); }
    .header__list {
      display: block; }
    .header__menu.active {
      top: 0; }
    .header__list li {
      margin-bottom: 30px; }
      .header__list li__list li:hover {
        transition: 1s;
        transform: scale(1.2); }
    .header__link {
      font-size: 30px; } }

.header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2; }

.container {
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 10px; }

.home {
  min-height: 100vh;
  background-image: url("../img/bg11.png"), url("../img/bg-home.png");
  display: flex;
  align-items: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
  .home__main {
    text-align: center;
    transition: all 1s ease 0s; }
    .home__main H1 {
      color: #ffffff;
      font-family: "Roboto Slab";
      font-family: Montserrat;
      font-size: 48px;
      font-weight: 400;
      text-transform: uppercase; }
    .home__main H3 {
      opacity: 0.8;
      margin-top: 30px;
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 20px;
      font-weight: 400;
      line-height: 24px; }
    .home__main button {
      margin-top: 50px;
      width: 180px;
      height: 50px;
      border: 1px solid #ffffff;
      background-color: transparent;
      color: #ffffff;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px; }
    .home__main button:hover {
      transition: 0.3s;
      transform: scale(1.2); }
    .home__main button:active {
      background-color: silver; }
  @media (max-width: 600px) {
    .home__main.none {
      margin-top: -200%;
      transition: all 2s ease 0s; } }

.services {
  max-width: 100%; }
  .services__main {
    padding: 50px 0; }
  .services__column {
    margin-top: 70px;
    display: flex;
    justify-content: space-between; }
  @media (max-width: 600px) {
    .services__column {
      display: block; } }
  .services__each-column .redlogo {
    border: 2px solid #dddddd;
    background-color: #c0301c; }
  .services__each-column .logomini {
    margin: 0 auto;
    width: 90px;
    height: 90px;
    border: 2px solid #dddddd;
    background-color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .services__each-column .redlogo {
    border: 2px solid #dddddd;
    background-color: #c0301c; }
  .services__each-column H2 {
    margin-top: 29px;
    color: #555555;
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 500;
    line-height: 24px;
    text-transform: uppercase; }
  .services__each-column p {
    margin-top: 24px;
    padding: 0 20px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }
  @media (max-width: 600px) {
    .services__each-column p {
      margin-bottom: 20px; } }
  .services__main {
    text-align: center; }

.about {
  background-color: #f8f8f8;
  width: 100%; }
  .about__main {
    padding: 70px 0; }
  .about__text {
    margin-top: 30px;
    display: flex; }
    .about__text p {
      color: #555555;
      font-family: "Roboto Slab";
      font-size: 14px;
      font-weight: 400;
      line-height: 24px; }
    .about__text p:first-child {
      padding-right: 15px; }
    .about__text p:last-child {
      padding-left: 15px; }
  @media (max-width: 800px) {
    .about__text {
      display: block; }
      .about__text p:first-child {
        padding-left: 15px; }
      .about__text p:last-child {
        padding-right: 15px;
        margin-top: 30px; } }
  .about__people {
    margin-top: 30px;
    display: flex;
    justify-content: space-between; }
  .about__block-column {
    width: 250px;
    margin: 0 auto; }
  .about__hover-block {
    position: relative;
    max-width: 250px;
    max-height: 263px; }
  .about__container img {
    display: block;
    max-width: 250px;
    max-height: 263px; }
  .about .logo-a {
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(85, 85, 85, 0.5);
    transition: all 2s ease 0s; }
    .about .logo-a .img-1 {
      margin-right: 35px;
      width: 25px;
      height: 25px;
      display: flex;
      align-items: center;
      justify-content: center; }
    .about .logo-a .img-1:last-child {
      margin-right: 0px; }
    .about .logo-a .img-1:hover {
      background-color: #c0301c; }
  .about .logo-a:hover {
    opacity: 1;
    transition: all 2s ease 0s; }
  .about .minih2, .about H3 {
    margin-top: 10px;
    text-align: center;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }

.slick-list {
  overflow: hidden;
  height: 100%;
  position: relative;
  width: 100%; }

.slick-track {
  display: flex;
  justify-content: space-between; }

.slider {
  position: relative; }

/* Стрелка */
.slick-arrow {
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  top: 120px; }

@media (max-width: 1025px) {
  .slick-arrow {
    width: 35px;
    height: 35px; } }

@media (max-width: 1025px) {
  .slick-arrow {
    top: 60px; } }

.slick-arrow:hover {
  background-color: #c0301c; }

/* Стрелка влево */
.slick-arrow.slick-prev {
  margin-left: 15px;
  left: 0; }

.slick-arrow.slick-prev:after {
  content: url(../img/arrow.png);
  opacity: 0.8; }

@media (max-width: 1025px) {
  .slick-arrow.slick-prev:after {
    content: url(../img/back_arrow_5821.png); } }

/*
.slick-arrow.slick-prev:after,
.slick-arrow.slick-prev:before{
    content: '';
                background-color: black;
                position: absolute;
                left: 0;
                width: 20px;
                height: 2px;
}
.slick-arrow.slick-prev:before{
    transform: rotate(55deg);
    margin-top:8px;
    
}
.slick-arrow.slick-prev:after{
    transform: rotate(-55deg);
    margin-top: -8px;
    
    
}


/* Стрелка вправо */
.slick-arrow.slick-next {
  right: 0;
  margin-right: 15px; }

.slick-arrow.slick-next:after {
  content: url(../img/arrow-right.png);
  opacity: 0.8; }

@media (max-width: 1025px) {
  .slick-arrow.slick-next:after {
    content: url(../img/back_arrow.png); } }

/*
.slick-arrow.slick-next:after,
.slick-arrow.slick-next:before{
    content: '';
                background-color: black;
                position: absolute;
                left: 0;
                width: 20px;
                height: 2px;
}
.slick-arrow.slick-next:before{
    transform: rotate(55deg);
}
.slick-arrow.slick-next:after{
    
    transform: rotate(-55deg);
    margin-top: 17px;
    
}
/* Стрелка не активная */
.work {
  max-width: 100%; }
  .work .block-title .titleh2 {
    text-align: center; }
    .work .block-title .titleh2__menu {
      display: flex;
      justify-content: center; }
    .work .block-title .titleh2__list {
      width: 400px;
      display: flex;
      justify-content: space-between; }
      .work .block-title .titleh2__list a {
        color: #555555;
        font-family: "Roboto Slab";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; }
      .work .block-title .titleh2__list a:hover {
        color: #c0301c; }
  .work__hover {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 48, 28, 0.7);
    transition: all 0.4s ease 0s; }
  .work__hover:hover {
    opacity: 1;
    transition: all 0.4s ease 0s; }
  .work__title-1 {
    margin-top: 100px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px; }
  .work__title-2 {
    margin-top: 10px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px; }
  .work button {
    width: 100px;
    height: 38px;
    background-color: #ffffff; }
    .work button a {
      color: #c0301c;
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1.4px; }
  .work button:hover {
    transition: 0.3s;
    transform: scale(1.2); }
  .work__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px; }
  .work__each-row {
    margin: 10px;
    position: relative; }
  .work__works {
    padding: 70px 0; }
  .work__block img {
    display: block;
    width: 100%;
    height: 100%; }
  @media (max-width: 400) {
    .work__container {
      max-width: 100%;
      height: 100px; }
    .work__block img {
      display: block;
      max-width: 100%;
      max-height: 100%; }
    .work__block img {
      max-width: 100px;
      max-height: 100px; } }

.our-work {
  max-width: 100%;
  height: 369px;
  background-image: url(../img/backg1.png);
  background-size: cover; }
  .our-work__opacity {
    height: 100%;
    background-color: rgba(192, 48, 28, 0.6); }
    .our-work__opacity .container {
      height: 100%;
      display: flex; }
  .our-work__block {
    text-align: center;
    margin: auto; }
    .our-work__block H2 {
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 30px;
      font-weight: 400;
      line-height: 44px; }
    @media (max-width: 450px) {
      .our-work__block H2:first-child {
        padding-top: 50px; } }
    .our-work__block button {
      margin-top: 53px;
      width: 180px;
      height: 50px;
      background-color: transparent;
      border: 1px solid silver;
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: 400;
      line-height: 44px;
      text-transform: uppercase; }
    .our-work__block button:hover {
      transition: 1s;
      transform: scale(1.2); }

.recent__block {
  padding: 50px 0; }

.recent__row {
  padding: 35px 0;
  display: flex; }
  .recent__row img {
    max-height: 100%;
    max-width: 100%; }

.recent .line {
  border-top: 1px solid silver; }

.recent__column {
  margin-left: 30px; }
  .recent__column .title-column {
    display: flex; }
    .recent__column .title-column .month {
      width: 76px;
      height: 76px;
      border: 3px solid #555555;
      display: flex;
      align-items: center;
      justify-content: center; }
      .recent__column .title-column .month p {
        width: 32px;
        color: #777777;
        font-family: Montserrat;
        font-size: 14px;
        font-weight: 700;
        line-height: 20px; }
        .recent__column .title-column .month p span {
          font-size: 24px;
          letter-spacing: 2.4px; }
    .recent__column .title-column .text-title H2 {
      margin-left: 20px;
      margin-top: 10px;
      color: #555555;
      font-family: Montserrat;
      font-size: 16px;
      font-weight: 400;
      line-height: 24px;
      text-transform: uppercase; }
    .recent__column .title-column .text-title H3 {
      margin-left: 20px;
      margin-top: 10px;
      color: #777777;
      font-family: "Roboto Slab";
      font-size: 13px;
      font-weight: 400;
      line-height: 24px;
      font-style: italic; }
  @media (max-width: 930px) {
    .recent__column__column {
      justify-content: center; } }
  .recent__column .text {
    margin-top: 25px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 14px;
    font-weight: 400;
    line-height: 24px; }
  .recent__column .link {
    margin-top: 30px;
    color: #777777;
    font-family: "Roboto Slab";
    font-size: 13px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 1.3px; }

.recent__column:hover H2:hover {
  color: #c0301c; }

.recent__column:hover H3:hover span {
  color: #c0301c;
  font-weight: 500; }

.recent__column:hover a:hover {
  color: #c0301c; }

@media (max-width: 930px) {
  .recent__row {
    display: block;
    text-align: center; }
  .recent .title-column {
    margin-top: 30px;
    justify-content: center; }
  .recent .text {
    padding-right: 25px; } }

@media (max-width: 475px) {
  .recent .title-column .text-title H2 {
    margin-top: 5px; }
  .recent .title-column .text-title H3 {
    margin-top: 0; } }

.say {
  max-width: 100%;
  background-color: #f8f8f8; }
  .say .container {
    height: 477px;
    display: flex; }
  .say__block {
    max-width: 100%;
    text-align: center;
    margin: auto; }
  .say__item {
    max-width: 898px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; }
  .say__text p, .say__text H3 {
    margin: 0 auto;
    max-width: 763px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    font-size: 20px; }
  .say__text p {
    font-style: italic;
    margin-top: 90px; }
  @media (max-width: 400px) {
    .say__text p {
      margin-top: 20px; } }
  .say__text H3 {
    margin-top: 30px; }

.contact {
  max-width: 100%; }
  .contact__block {
    padding: 70px 0;
    margin: 0 auto;
    max-width: 100%; }

.main {
  margin-top: 50px;
  display: flex;
  justify-content: space-between; }

@media (max-width: 650px) {
  .main {
    display: block;
    justify-content: center; } }

.left__block {
  display: flex; }

@media (max-width: 650px) {
  .left__block {
    margin: 0 auto;
    justify-content: space-between;
    max-width: 400px; } }

.left__png {
  margin-top: 7px; }

.left__text {
  margin-left: 20px; }
  .left__text H3 {
    color: #555555;
    font-family: Montserrat;
    font-size: 14px;
    font-weight: 600;
    line-height: 30px;
    text-transform: uppercase; }
  .left__text p {
    margin-top: 10px;
    color: #555555;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 600;
    line-height: 20px; }

@media (max-width: 650px) {
  .left__text {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 280px; }
    .left__text p {
      text-align: right; } }

.form {
  margin-left: 120px;
  max-width: 730px; }
  .form__1line {
    max-width: 730px;
    display: flex; }
    .form__1line input {
      margin-bottom: 20px;
      width: 350px;
      height: 44px;
      border: 1px solid #555555;
      padding-left: 10px; }
    .form__1line input:first-child {
      margin-right: 30px; }
    .form__1line input:focus {
      border: 1px solid #c0301c; }
    .form__1line input:focus::-webkit-input-placeholder {
      color: transparent; }
    .form__1line input:focus:-moz-placeholder {
      color: transparent; }
    .form__1line input:focus::-moz-placeholder {
      color: transparent; }
    .form__1line input:focus:-ms-input-placeholder {
      color: transparent; }
  @media (max-width: 1050px) {
    .form__1line input {
      max-width: 250px; } }
  @media (max-width: 850px) {
    .form__1line input {
      max-width: 200px; } }
  @media (max-width: 750px) {
    .form__1line input {
      max-width: 135px; } }
  .form__3line textarea {
    width: 730px;
    height: 104px;
    border: 1px solid #555555;
    padding-top: 10px;
    padding-left: 10px;
    resize: none; }
  .form__3line textarea:focus {
    border: 1px solid #c0301c; }
  .form__3line textarea:focus::-webkit-input-placeholder {
    color: transparent; }
  .form__3line textarea:focus:-moz-placeholder {
    color: transparent; }
  .form__3line textarea:focus::-moz-placeholder {
    color: transparent; }
  .form__3line textarea:focus:-ms-input-placeholder {
    color: transparent; }
  @media (max-width: 1050px) {
    .form__3line textarea {
      max-width: 530px; } }
  @media (max-width: 850px) {
    .form__3line textarea {
      max-width: 430px; } }
  @media (max-width: 750px) {
    .form__3line textarea {
      max-width: 300px; } }
  .form__button {
    margin-top: 20px;
    display: flex;
    align-items: center; }
    .form__button button {
      background-color: transparent;
      width: 170px;
      height: 44px;
      border: 1px solid #555555; }
      .form__button button a {
        color: #555555;
        font-family: "Roboto Slab";
        font-size: 12px;
        font-weight: 400;
        line-height: 20px;
        letter-spacing: 0.6px; }
    .form__button button:hover {
      border: 1px solid #c0301c; }
      .form__button button:hover a {
        color: #c0301c; }
    @media (max-width: 750px) {
      .form__button button {
        width: 120px; } }
    .form__button p {
      margin-left: 25px;
      color: #555555;
      font-family: "Roboto Slab";
      font-size: 11px;
      font-weight: 400;
      line-height: 20px; }
      .form__button p span {
        color: #c0301c; }
  @media (max-width: 850px) {
    .form__button p {
      max-width: 180px; } }
  @media (max-width: 750px) {
    .form__button p {
      max-width: 145px; } }

@media (max-width: 650px) {
  .form {
    padding-top: 25px;
    margin-left: 0;
    max-width: 330px;
    margin: auto;
    padding-right: 2px; } }

.footer {
  min-width: 100%;
  height: 300px;
  background-color: #c0301c; }
  .footer .container {
    display: flex;
    height: 100%; }
  .footer__main {
    position: relative;
    margin: auto; }
  .footer__logo {
    display: flex;
    justify-content: center; }
    .footer__logo button {
      width: 35px;
      height: 35px;
      border: 1px solid #ffffff;
      border-radius: 50%;
      background-color: transparent;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 20px; }
    .footer__logo button:last-child {
      margin-right: 0; }
    .footer__logo button:hover {
      transition: 0.3s;
      transform: scale(1.2); }
  .footer p {
    margin-top: 50px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase; }
  .footer p:before {
    content: "";
    position: absolute;
    left: 50%;
    margin-left: -25px;
    width: 50px;
    height: 2px;
    background-color: #ffffff;
    bottom: 40px; }
