.work {
  max-width: 100%; }
  .work .block-title .titleh2 {
    text-align: center; }
    .work .block-title .titleh2__menu {
      display: flex;
      justify-content: center; }
    .work .block-title .titleh2__list {
      width: 400px;
      display: flex;
      justify-content: space-between; }
      .work .block-title .titleh2__list a {
        color: #555555;
        font-family: "Roboto Slab";
        font-size: 16px;
        font-weight: 400;
        line-height: 24px; }
      .work .block-title .titleh2__list a:hover {
        color: #c0301c; }
  .work__hover {
    opacity: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    height: 100%;
    background-color: rgba(192, 48, 28, 0.7);
    transition: all 0.4s ease 0s; }
  .work__hover:hover {
    opacity: 1;
    transition: all 0.4s ease 0s; }
  .work__title-1 {
    margin-top: 100px;
    color: #ffffff;
    font-family: Montserrat;
    font-size: 22px;
    font-weight: 400;
    line-height: 24px; }
  .work__title-2 {
    margin-top: 10px;
    color: #ffffff;
    font-family: "Roboto Slab";
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 20px; }
  .work button {
    width: 100px;
    height: 38px;
    background-color: #ffffff; }
    .work button a {
      color: #c0301c;
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 1.4px; }
  .work button:hover {
    transition: 0.3s;
    transform: scale(1.2); }
  .work__row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 30px; }
  .work__each-row {
    margin: 10px;
    position: relative; }
  .work__works {
    padding: 70px 0; }
  .work__block img {
    display: block;
    width: 100%;
    height: 100%; }
  @media (max-width: 400) {
    .work__container {
      max-width: 100%;
      height: 100px; }
    .work__block img {
      display: block;
      max-width: 100%;
      max-height: 100%; }
    .work__block img {
      max-width: 100px;
      max-height: 100px; } }

.our-work {
  max-width: 100%;
  height: 369px;
  background-image: url(../img/backg1.png);
  background-size: cover; }
  .our-work__opacity {
    height: 100%;
    background-color: rgba(192, 48, 28, 0.6); }
    .our-work__opacity .container {
      height: 100%;
      display: flex; }
  .our-work__block {
    text-align: center;
    margin: auto; }
    .our-work__block H2 {
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 30px;
      font-weight: 400;
      line-height: 44px; }
    @media (max-width: 450px) {
      .our-work__block H2:first-child {
        padding-top: 50px; } }
    .our-work__block button {
      margin-top: 53px;
      width: 180px;
      height: 50px;
      background-color: transparent;
      border: 1px solid silver;
      color: #ffffff;
      font-family: "Roboto Slab";
      font-size: 18px;
      font-weight: 400;
      line-height: 44px;
      text-transform: uppercase; }
    .our-work__block button:hover {
      transition: 1s;
      transform: scale(1.2); }
