
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet", href="css/style.css")
        title Document
    body    
        include pug/header
        include pug/sticky
        main
            include pug/home
            include pug/features
            include pug/music
            include pug/screenshots
            include pug/video
            include pug/first_ever_upp
            include pug/testimonials
            include pug/who_we_are.pug
            include pug/partners
            include pug/pricing.pug
        footer 
            include pug/footer.pug
