
<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")
        link(rel="stylesheet", href="css/style.css")
        <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">
        
        title Document
    body    
        include pug/header.pug
        include pug/top.pug
        include pug/product.pug
        include pug/clients.pug
        include pug/footer.pug

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
        <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
        <script src="js/main.js"></script>