.about#about
    .container
        .about__main
            .block-title
                H2.maintitle About us
                div.mainline
                p.titleh2 Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
            .about__text
                p.about__2text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
                p.about__2text Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sediam nonumy eirmod tempor invidunt ut labore et dolore aliquyam erat, sed diam voluptua. At vero eos et accusam et justo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor et dolore aliquyam erat. Lorem ipsum dolor sit amet. Lorem ipsum eat.
            .about__people.slider
                .about__block-column.slider__item
                    .about__container
                        .all
                            .logo-a
                                .img-1
                                    img(src="img/21.png", alt="#")
                                .img-1
                                    img(src="img/22.png", alt="#")
                                .img-1
                                    img(src="img/23.png", alt="#")
                                .img-1
                                    img(src="img/24.png", alt="#")
                        .face
                            img(src="img/11.png", alt="#")
                            div
                    div
                        H2 Md. Khalil Uddin
                        H3 Head of Ideas
                
                .about__block-column.slider__item
                    .about__container
                        .all
                            .logo-a
                                .img-1
                                    img(src="img/21.png", alt="#")
                                .img-1
                                    img(src="img/22.png", alt="#")
                                .img-1
                                    img(src="img/23.png", alt="#")
                                .img-1
                                    img(src="img/24.png", alt="#")
                        .face
                            img(src="img/12.png", alt="#")
                    div
                        H2 Rubel Miah
                        H3 Lead WordPress Developer
                
                .about__block-column.slider__item
                    .about__container
                        .all
                            .logo-a
                                .img-1
                                    img(src="img/21.png", alt="#")
                                .img-1
                                    img(src="img/22.png", alt="#")
                                .img-1
                                    img(src="img/23.png", alt="#")
                                .img-1
                                    img(src="img/24.png", alt="#")
                        .face
                            img(src="img/13.png", alt="#")
                    div
                        H2 Shamim Mia
                        H3 Sr. Web Developer
                .about__block-column.slider__item
                    .about__container
                        .all
                            .logo-a
                                .img-1
                                    img(src="img/21.png", alt="#")
                                .img-1
                                    img(src="img/22.png", alt="#")
                                .img-1
                                    img(src="img/23.png", alt="#")
                                .img-1
                                    img(src="img/24.png", alt="#")
                        .face
                            img(src="img/14.png", alt="#")
                    div
                        H2 John Doe
                        H3 Front-end Developer
                .about__block-column.slider__item
                    .about__container
                        .all
                            .logo-a
                                .img-1
                                    img(src="img/21.png", alt="#")
                                .img-1
                                    img(src="img/22.png", alt="#")
                                .img-1
                                    img(src="img/23.png", alt="#")
                                .img-1
                                    img(src="img/24.png", alt="#")
                        .face
                            img(src="img/14.png", alt="#")
                    div
                        H2 John Doe
                        H3 Front-end Developer
