include mix-var.pug
.about#about
    .container
        .about__line
            .first-line
                +about("../img/icon.png", "Web & App Design")
                +about("../img/icon2.png", "Development")
                +about("../img/icon3.png", "Customization")
                +about("../img/icon4.png", "Marketing")
    .about__second-line
        .container
            H2 Waxom is Realization of your ideas.
            p Investigationes demonstraverunt legere me lius quod li legunt saepius. Claritas est etiam<br>processusdynamicus qui mutationem cosuetudium.
            .browser   
                img.browser__left(src="../img/browser-left.png", alt="#")
                img.browser__right(src="../img/browser-right.png", alt="#")
                img.browser__center(src="../img/browser-center.png", alt="#")
                
    .about__third-line
        .container
            .about__third-block
                .about__left-text
                    H3 <span>Waxom</span> Multipurpose Wordpres Theme
                    p Don^t Forget to Rate the Template.Thanks so much!
                button purchase now