.recent
    .container
        .recent__block
            .block-title
                H2.maintitle Recent blog posts
                div.mainline
                p.titleh2 Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
            .recent__row
                img(src="img/row1.png", alt="#")
                .recent__column
                    .title-column
                        .month
                            p <span>18</span> OCT
                        .text-title
                            H2 Startup ideas needs to be funded 
                            H3 By <span>Khalil</span> Uddin in <span>Development</span>
                        
                    .text
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                    .link
                        a(href="#") READ MORE
            .recent__row.line
                img(src="img/row2.png", alt="#")
                .recent__column
                    .title-column
                        .month
                            p <span>18</span> OCT
                        .text-title
                            H2 User Interface Designing Elements 
                            H3 By <span>Khalil</span> Uddin in <span>Development</span>
                        
                    .text
                        p Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod teduntlabore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et erebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit am Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidulabore et dolore aliquyam erat, sed diam 
                    .link
                        a(href="#") READ MORE
            