.say#clients
    .container
        .say__block
            .say__item
                img(src="img/say1.png", alt="#")
                img(src="img/say2.png", alt="#")
                img(src="img/say3.png", alt="#")
                img(src="img/say4.png", alt="#")
                img(src="img/say5.png", alt="#")
            .say__text
                p "Hvaing placeat facere possimus, omnis voluptas assumenda est, omnis dolor repellendus. Temporibus autem quibusdam et aut officiis debitis aut rerum"
                H3  John Doe, Google Inc.
            