section.clients
    .container
        H3.clients__title НАМ ДОВІРЯЮТЬ
        .swiper-container.swiper-clients
            .swiper-wrapper
                .swiper-slide
                    img(src="img/remak.png", alt="")   
                .swiper-slide
                    img(src="img/reflex.png", alt="")
                .swiper-slide
                    img(src="img/kermi.png", alt="")
                .swiper-slide
                    img(src="img/electronik.png", alt="")
            .swiper-button-next
            .swiper-button-prev
        .line
