.contact#contact
    .container
        .contact__block
            .contact__column.column1
                .column1__brend
                    img(src="../img/logos.png", alt="#")
                    div
                        img(src="../img/Waxom.png", alt="#")
                .column1__text 
                    p Lorem ipsum non delectus natus distinctio corporis in ipsam laboriosam eveniet magnam nobis vero, alias pariatur deserunt. Repellat consequatur eius consequuntur dolorem eos ad quibusdam quidem modi illum? Corporis, dolorum sapiente.
                .column1__button
                    button 
                        p Read More
                        img(src="../img/arrowqw.png", alt="#")

            .contact__column.column2
                .column2__title
                    H3 Recent Posts
                .column2__main
                    .row
                        p.sep September 08.2015
                        p.text Lorem ipsum dolor sit amet consectetur adipisicing elit. A iusto, earum repellendus debitis!
                        .line
                    .row
                        p.sep September 08.2015
                        p.text Lorem ipsum dolor  sit amet consectetur adipisicing elit. A nisi enim iusto, earum repellendus debitidolor sit amets!
                        .line
                    .row
                        p.sep September 08.2015
                        p.text Lorem  amet amdolor sit ametet consectedolor sit amettur adipisicing elit. A nisi enim idolor sdolor sit ametdolor sit ametit ametusto, earum repellendus debitis!

            .contact__column.column3
                .column3__title
                    H3 Our Twitter
                .column3__main
                    .row
                        p <span><a href="#">@waxon</a></span> Cum soluta nobis eleifend option congue nihil imperdiet doming
                        p.textrow 3 mins ago
                        .line
                    .row
                        p Mirum est<span><a href="#">#envato</a></span> Cum soluta nobis eleifend Cum soluta option congue nihil Cum soluta imperdiet doming
                        p.textrow 5 hours ago
                        .line
                    .row
                        p Soluta nobis option <span class="light"><a href="#">bit.ly/ihnlso7</a></span> 
                        p.textrow 20 days ago
            .contact__column.column4
                .column4__title
                    H3 Dribbble Widget
                .column4__photo
                    img.picture(src="../img/photo001.png", alt="#")
                    img.picture(src="../img/photo002.png", alt="#")
                    img.picture(src="../img/photo003.png", alt="#")
                    img.picture(src="../img/photo004.png", alt="#")

            