.contact#contact
    .container
        .contact__block
            .block-title
                H2.maintitle Get in touch
                div.mainline
                p.titleh2 Lorem ipsum dolor sit amet, consetetur sadipscing elitr amet
            .contact__main.main
                .main__left.left
                    .left__block
                        .left__png
                            img(src="img/contact1.png", alt="#")
                        .left__text
                            H3 Address
                            p 312, 7th Ave, New York <br> NY 101200, United States of America
                    .left__block
                        .left__png
                            img(src="img/contact2.png", alt="#")
                        .left__text
                            H3 Hotline (24x7)
                            p +65 0052 300, +65 88251 210 <br> +88 01723 511 340
                    .left__block
                        .left__png
                            img(src="img/contact3.png", alt="#")
                        .left__text
                            H3 E-mail
                            p shapedtheme@gmail.com <br> khalilkode@gmail.com
                .main__form.form
                    .form__1line
                        input(type="text" placeholder="NAME")
                        input(type="text" placeholder="YOUR E-MAIL")
                    .form__1line
                        input(type="text" placeholder="YOUR SUBJECT")
                        input(type="text" placeholder="COMPANY NAME")
                    .form__3line
                        textarea(placeholder="WRITE YOUR MESSAGE")
                    .form__button
                        button
                            a(href="#") SEND MESSAGE
                        p <span>*</span> We’ll contact you as as possible. We don’t reply on Monday.
            