section.features
    .features__const
        H2 FEATURES
        .features__main
            .features__column1
                .features__left-block 
                    .features__logo
                        img.logo-png(src="img/1.png", alt="#")
                    .lorem 
                        H3.title3 Responsive Design
                        div.line-left
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae luctus lorem.
                .features__left-block
                    .features__logo
                        img.logo-png(src="img/2.png", alt="#")
                    .lorem 
                        H3.title3 Powerful settings
                        div.line-left
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae luctus lorem.
                
            .features__column2
                img(src="img/6.png", alt="#")
            .features__column3
                .features__right-block
                    .lorem 
                        H3.title3 Unlimited color
                        div.line-right
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae luctus lorem.
                    .features__logo
                        img.logo-png(src="img/3.png", alt="#")
                .features__right-block
                    .lorem 
                        H3.title3 Ready made modules
                        div.line-right
                        p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque vitae luctus lorem.
                    .features__logo
                        img.logo-png(src="img/4.png", alt="#")