section.first_ever_up
    .first_ever_up__const
        .first_ever_up__block-app
            H2 FIRST EVER APP
            .first_ever_up__3column
                .first_ever_up__column1    
                    img(src="img/2-layers.png", alt="#")
                    H3 Easy customize
                    div
                    p Nullam sed velit neque. Integer incidunt dui quis augue pulvinar
                .column-line
                .first_ever_up__column1    
                    img(src="img/okk.png", alt="#")
                    H3 Save time
                    div
                    p Nullam sed velit neque. Integer incidunt dui quis augue pulvinar
                .column-line
                .first_ever_up__column1    
                    img(src="img/layers.png", alt="#")
                    H3 Responsive
                    div
                    p Nullam sed velit neque. Integer incidunt dui quis augue pulvinar
.first_ever_up__block-number    
        .first_ever_up__block-const    
            .first_ever_up__fours-block
                .block-col
                    H2 8M 
                    p USERS
            .first_ever_up__middle-line
            .first_ever_up__fours-block
                .block-col
                    H2 91M 
                    p SONGS
            .first_ever_up__middle-line
            .first_ever_up__fours-block
                .block-col
                    H2 125K 
                    p DOWNLOADS
            .first_ever_up__middle-line
            .first_ever_up__fours-block
                .block-col
                    H2 954K 
                    p ARTISTS
