.footer
    .container
        .container__center    
            .footer__block
                .footer__left
                    .lastlogo Copyright © 2015 <span>Waxom</span> 
                    ul
                        li
                            a(href="#") Privacy Policy
                        li
                            a(href="#") FAQ
                        li
                            a(href="#") Support


                .footer__right
                    p Designed by <span>ThemeFire</span>
                    p Only On <span>Envanto Market</span>
