footer.footer
    .footer__main
        .footer__logo
            img(src="img/footer-logo.png", alt="#") 
        .footer__menu.menu
            ul.menu__bottom
                li
                    a(href="#") Компанія
                li
                    a(href="#") Продукція
                li
                    a(href="#") Рішеня
                li
                    a(href="#") Підтримка
                li
                    a(href="#") Питання та відповіді
                li
                    a(href="#") Контакти
        .footer__item
            a(href="https://www.facebook.com/")
                img(src="img/facebook .png", alt="#")
            a(href="https://www.youtube.com/")
                img(src="img/youtube.png", alt="#")
        .footer__author
            p © TREVENT, 2019. Дизайн розробляли ONCA
    .footer__up
        a.button-up(href="#")
            img(src="img/arrow-up.png", alt="#")
