footer.footer
    .footer__main
        .footer__logo    
            button
                a(href="#")
                    img(src="img/22.png", alt="#")
            button
                a(href="#")
                    img(src="img/22.png", alt="#")
            button
                a(href="#")
                    img(src="img/22.png", alt="#")
            button
                a(href="#")
                    img(src="img/22.png", alt="#")
        .footer__middle
        p © 2015 Startup, Designed by ShapedTheme
