.footer
    .footer__block
        .footer__column1
            .title
                H2 About
                .line-h2
            p Pilchard nurse shark roosterfish sea catfish spiderfish limia fingerfish.
            .button-block
                button
                    a(href="https://www.google.com")
                        div
                            img(src="img/fb1.png", alt="#")
                button
                    a(href="https://www.google.com")
                        div
                            img(src="img/tw1.png", alt="#")
                button
                    a(href="https://www.google.com")
                        div 
                            img(src="img/G1.png", alt="#")
        .footer__column2
            .title
                H2 Features
                .line-h2
            ul.list
                    each name in ['Lorem ipsum', 'Dolor sit amet', '', 'Nullam sed', 'integer sagttis eget']
                        li
                            a(href="https://varta1.com.ua/")= name
        .footer__column3
            .title
                H2 Newsletter
                .line-h2
            p.left Email
            .line-long
            p.right Subscribe
        .footer__column4
            .title
                H2 Contact Us
                .line-h2
            img(src="img/1221.png", alt="#")

            
    .footer__bottom
        .footer__const
            p JM App © All rights reserved
