header.header
    .container
        .header__body
            a.header__logo(href="#")
                p Startup
            .header__burger
                span
            nav.header__menu
                ul.header__list
                    each item in ['Home', 'Services', 'About', 'Works', 'Blog', 'Clients', 'Contact']
                        li
                            a.header__link(href="https://varta1.com.ua/" )= item
            