include mix-var.pug

header.header
    .container
        .header__body
            a.header__logo(href="#") Startup
            .header__burger
                span
            nav.header__menu
                ul.header__list
                    each item in items
                        li
                            a.header__link(href=item.id )= item.name