header
    .container.header
        .header__wrapper
            .header__logo
                a(href="#")
                    img(src="img/logo.png", alt="TREVENT")
            .header__contact
                .header__contact-header
                    .phone-png
                        img(src="img/phone.png", alt="")
                    .phone-number
                        p.schedule Графік роботи: 09:00-18:00

                        select.number
                            option(value="01" selected)
                                span (098) 86 900 25
                            option(value="02")
                                span (093) 86 900 25
                            option(value="03")
                                span (050) 86 900 25
                .header__language
                    img(src="img/Ukraine.png", alt="")
                    select.language
                        option(value="01" selected)
                            span UA
                        option(value="02")
                            span RU
                        option(value="03")
                            span EN
            .header__menu.menu
                ul.header__list
                    li 
                        a(href="") ГОЛОВНА
                    li 
                        a(href="") КОМПАНІЯ
                    li 
                        a(href="") ПРОДУКЦІЯ
                        img.arrow(src="img/arrow.png", alt="")
                        ul
                            li 
                                a(href="") ПУНКТ 1
                            li 
                                a(href="") ПУНКТ 2
                    li 
                        a(href="") ПІДТРИМКА
                        img.arrow(src="img/arrow.png", alt="")
                        ul
                            li 
                                a(href="") ПУНКТ 1
                            li 
                                a(href="") ПУНКТ 2
                    li 
                        a(href="") КОНТАКТИ
                    li 
                        form
                            input(type="text" placeholder="Шукати")
                            button(type="submit")
                                img(src="img/search.png", alt="")
            .header__burger
                .burger

