header.header
    .container
        .header__body
            a.header__logo(href="#")
                p Startup
            .header__burger
                span
            nav.header__menu
                ul.header__list
                    each item in [{name:'Home',id:"#home"}, {name:'Services',id:"#services"}, {name:'About',id:"#about"}, {name:'Works',id:"#works"}, {name:'Blog',id:"#blog"}, {name:'Clients',id:"#clients"}, {name:'Contact',id:"#contact"}]
                        li
                            a.header__link(href=item.id )= item.name
            