header.header
    .top-line
                .top-line__right
                    .top-line__email
                        img(src="img/top-line__email.png", alt="#")
                        p xyz@gmail.com
                    .top-line__phone
                        img(src="img/top-line__phone.png", alt="#")
                        p 051-2310000
                .top-line__left
                    .top-line__button-block
                        button(type="submit")
                            img(src="img/top-line__button1.png", alt="#")
                        button(type="submit")
                            img(src="img/top-line__button2.png", alt="#")
                        button(type="submit")
                            img(src="img/top-line__button3.png", alt="#")