include mix-var.pug
.home
    .container
        .home__block
            .home__slider.slider
                +homeslide
                +homeslide
                +homeslide
                +homeslide
                +homeslide