section.home
    .home__const    
        .home__best
            H2.home__title BEST MUSIC APP FOR ANDROID AND IOS
            .home__market
                a(href="https://google.com")
                    button.home__button
                        img(src="img/Play_market.png", alt="#")
                        .home__text    
                            p.home__first_text Download on 
                            p.home__second_text Google Play
                a(href="https://google.com")
                    button.home__button
                        img(src="img/App_store.png", alt="#")
                        .home__text   
                            p.home__first_text Download on
                            p.home__second_text App Store
        .home__phone
            img(src="img/phone.png", alt="#")