.brend#shortcodes
    .container
        .brend__block
            div
                img(src="../img/logo-01.png", alt="#")
            div    
                img(src="../img/logo-02.png", alt="#")
            div
                img(src="../img/logo-03.png", alt="#")
            div
                img(src="../img/logo-04.png", alt="#")