section.top-header
    div.top-header__main
        span.top-header__contact Контакти:
        span.top-header__phone    
            img.top-header__phone-png(src="img/phone-24.png", alt="#")
            span +38 (093) 032 35 05
        a.top-header__inst(href="https://instagram.com/khrystyna_tarnavka?igshid=8agokreje3bo")
            img.top-header__png-inst(src="img/instagram-24 .png", alt="#")
section.header
    .container
        .wrapp-nav
            ul.nav
                li.nav__each
                    p ПРО СЕБЕ
                li.nav__each
                    p ПОСЛУГИ
                li.nav__each
                    p РОБОТИ
                li.logo
                    .K K
                    .tarnavska Tarnavska
                    .keratin KERATIN SCHOOL
                li.nav__each
                    p НАВЧАННЯ
                li.nav__each
                    p ПРОДУКЦІЯ
                li.nav__each
                    p КОНТАКТИ
        .wrapper-burger
            .burger 
                span
.backgr
    div


