- var items = [{name:'Home',id:"#home"}, {name:'Services',id:"#services"}, {name:'About',id:"#about"}, {name:'Works',id:"#works"}, {name:'Blog',id:"#blog"}, {name:'Clients',id:"#clients"}, {name:'Contact',id:"#contact"}]

mixin slide(imgSrc, name)
                    .about__block-column.slider__item
                        .aboute__maybe
                            .about__hover-block
                                .logo-a
                                    .img-1
                                        img(src="img/21.png", alt="#")
                                    .img-1
                                        img(src="img/22.png", alt="#")
                                    .img-1
                                        img(src="img/23.png", alt="#")
                                    .img-1
                                        img(src="img/24.png", alt="#")
                                .about__container    
                                    img(src=imgSrc, alt="")
                        .text
                            H2.minih2 name
                            H3 Sr. Web Developer
                
mixin each-item  
                    .work__each-row
                        .work__container
                            .work__hover
                                H3.work__title-1 Hair Dresser
                                H4.work__title-2 Branding
                                button
                                    a(href="https://www.google.com.ua/") VIEW  >
                            .work__block
                                if block
                                    block
                                else 
                                    p none