section.music
    .music__const
        .music__main
            .music__phone-png
                .music__first-phone
                    img(src="img/3-layers.png", alt="#")
                .music__second-phone    
                    img(src="img/3-layers.png", alt="#")
                .music__third-phone    
                    img(src="img/3-layers.png", alt="#")
            .music__about
                p.music__first-text Future is here
                p.music__second-text Music medication for modern day living
                div.music__line
                p.music__third-text European flounder mahseer Australian lungfish longnose dace pleco, butterflyfish ghost knifefish tripod fish. Gulper eel common tunny dealfish burbot flier tope.
                p.music__fourth-text <span>North American</span> darter pomfret Black scabbardfish slipmouth dragon goby blue catfish driftwood catfish. Cherry salmon shortnose sucker mako shark.