include mix-var.pug
.post#blog
    .container  
        .post__block
            .post__top
                H3 Recent Posts.
                p Investigationes demonstraverunt lectores legere me lius quod li legunt<br>seapius, qui sequitur mutationem consuetudium.
            .sliderpost.slider1
                +post("../img/photo01.png")
                +post("../img/photo02.png")
                +post("../img/photo03.png")
                +post("../img/photo01.png")
                



                