section.pricing
    .pricing__const
        H2 PRICING
        .pricing__block
            .sign_up
                .title5
                    H3 FREE
                .next-block
                    .first
                        p $
                    .second
                        p 0
                    .third
                        p /MONTH
                p.text-line Australian prowfish European eel
                .first-line
                p.text-line Stonefish oarfish zebrafish batfish
                .first-line
                p.text-line Bigeye trout jewelfish deep.
                button SIGN UP
            .sign_up-middle
                .title5
                    H3 FREE
                .next-block
                    .first
                        p $
                    .second
                        p 9
                    .third
                        p /MONTH
                p.text-line Australian prowfish European eel
                .first-line
                p.text-line Stonefish oarfish zebrafish batfish
                .first-line
                p.text-line Bigeye trout jewelfish deep.
                button SIGN UP
            .sign_up
                .title5
                    H3 FREE
                .next-block
                    .first-more
                        p $
                    .second
                        p 19
                    .third
                        p /MONTH
                p.text-line Australian prowfish European eel
                .first-line
                p.text-line Stonefish oarfish zebrafish batfish
                .first-line
                p.text-line Bigeye trout jewelfish deep.
                button SIGN UP