section.product
    .container
        .product__top
            H3.product__title ПРОДУКЦІЯ
            p.product__text Використання електрики в якості джерела нагріву отримало свою популярність в деяких випадках. Такі<br> рішення застосовують для реалізації системи опалення в умовах, де немає можливості підключення тради-<br>ційного теплоносія (води) або де системи опалення планується використовувати тимчасово.
        .product__item.item
            .item__each
                .item__main-title    
                    H3.item__see електричний <br> нагрів
                .item__item
                    img.item__icon(src="img/Іконка.Електричних_носіїв.png", alt="")    
                    H3.item__title електричний нагрів
                    p.item__text Використання електрики в якості<br>джерела нагріву отримало власну<br>популярність в деяких випадках.     
                    .button 
                        p ДЕТАЛЬНІШЕ
            .item__each
                .item__main-title    
                    H3.item__see водяні <br> теплоносії
                .item__item
                    img.item__icon(src="img/Іконка.Електричних_носіїв.png", alt="")    
                    H3.item__title водяні теплоносії
                    p.item__text Використання електрики в якості<br>джерела нагріву отримало власну<br>популярність в деяких випадках.     
                    .button 
                        p ДЕТАЛЬНІШЕ
            .item__each
                .item__main-title    
                    H3.item__see Повітряні<br> завіси
                .item__item
                    img.item__icon(src="img/Іконка.Електричних_носіїв.png", alt="")    
                    H3.item__title Повітряні завіси
                    p.item__text Використання електрики в якості<br>джерела нагріву отримало власну<br>популярність в деяких випадках.     
                    .button 
                        p ДЕТАЛЬНІШЕ
            .item__each
                .item__main-title    
                    H3.item__see камери<br> припливу
                .item__item
                    img.item__icon(src="img/Іконка.Електричних_носіїв.png", alt="")    
                    H3.item__title камери припливу
                    p.item__text Використання електрики в якості<br>джерела нагріву отримало власну<br>популярність в деяких випадках.     
                    .button 
                        p ДЕТАЛЬНІШЕ
        .line    
