include mix-var.pug

.project#portfolio
    .container
        .project__block 
            .project__top
                H3 Our latest Project
                p Investigationes demonstraverunt legere me lius quod li legunt saepius. Claritas est etiam<br>processus dynamicus qui mutationem cosuetudium.
            .project__buttons
                button All
                button Web Design
                button Mobile App
                button Illustration
                button Photography
            .project__items.items
                +items("../img/photo1.png","Claritas Etiam Processus","Photography, Nature")
                +items("../img/photo2.png","Quam Nutamus Farum","Graphic Design, Mock-Up")
                +items("../img/photo3.png","Usus Legentis Vindetur","Photography, Holiday")
                +items("../img/photo4.png","Claritas Etiam Processus","Photography, Nature")
                +items("../img/photo5.png","Quam Nutamus Farum","Graphic Design, Mock-Up")
                +items("../img/photo6.png","Usus Legentis Vindetur","Photography, Holiday")
            .project__button
                button LOAD MORE