section.screenshots
    .screenshots__const
        H2 screenshots
        .screenshots__screens
            .screenshots__first-column
                img(src="img/dt-043.png", alt="#")
            .screenshots__second-column
                .screenshots__up
                    .screenshots__left
                        img(src="img/bc89aa3397d616714218e696ec5fe08e--mobile-design-app-design_copy.png", alt="#")
                    .screenshots__right
                        img(src="img/1music.png", alt="#")
                .screenshots__down
                    img(src="img/Fancy-Mobile-App-p-UI-Mockup.png", alt="#")
            .screenshots__third-column    
                    img(src="img/12345.png", alt="#")
                    img(src="img/best-music-player-android-670x3351.png", alt="#")