section.sticky
    .const-sticky
        .container    
            .main-logo
                img(src="img/App_Logo.png", alt="#")
            .menu
                ul.menu__list
                    each name in ['HOME', 'FEATURES', 'SCREENSHOTS', 'VIDEO', 'SERVICES', 'TESTIMONIALS', 'OUR TEAM', 'PARTNERS', 'PRICING']
                        li
                            a(href="https://varta1.com.ua/")= name
