section.testimonials
    .testimonials__const
        H2 TESTIMONIALS
        .testimonials__block
            .testimonials__near-block
            .testimonials__comment
                .face
                    img(src="img/face.png", alt="#")
                .testimonials__text
                    .left-png    
                        img(src="img/@.png", alt="")
                    p.text-ceter Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sed dolor at magna tempus facilisis. Vivamus auctor accumsan diam a tincidunt. Mauris imperdiet molestie diam condimentum aliquet. Pellentesque lectus sem, tincidunt sodales magna in, faucibus pulvinar dui.
                    H3.title3 Jonathan Doe
                    .under-line
                    p.last-text Founder / Character Design
            
            .testimonials__near-block
    .button3
        button.circle
        button.circle
        button.circle