section.top
    .swiper-container.swiper-top
        .swiper-wrapper
            .swiper-slide
                .slider-main    
                    H4 Промислове
                    H2.title-slider Кліматичне <br> Обладнання
                    p.text-slider Працює з кращими постачальниками комплектуючих <br>з усього світу, розробляє обладнання стандартного і <br>не стандартного виконання.
                    a.more(href="#") 
                        p.more-text Детальніше
            .swiper-slide
                .slider-main    
                    H4 Промислове
                    H2.title-slider Кліматичне <br> Обладнання
                    p.text-slider Працює з кращими постачальниками комплектуючих <br>з усього світу, розробляє обладнання стандартного і <br>не стандартного виконання.
                    a.more(href="#") 
                        p.more-text Детальніше
            .swiper-slide
                .slider-main    
                    H4 Промислове
                    H2.title-slider Кліматичне <br> Обладнання
                    p.text-slider Працює з кращими постачальниками комплектуючих <br>з усього світу, розробляє обладнання стандартного і <br>не стандартного виконання.
                    a.more(href="#") 
                        p.more-text Детальніше
            .swiper-slide
                .slider-main    
                    H4 Промислове
                    H2.title-slider Кліматичне <br> Обладнання
                    p.text-slider Працює з кращими постачальниками комплектуючих <br>з усього світу, розробляє обладнання стандартного і <br>не стандартного виконання.
                    a.more(href="#") 
                        p.more-text Детальніше
        .swiper-pagination       
    .aboute
        .aboute__main
            .aboute__block.block
                    .block__image-wrapper
                        img.block__image(src="img/Іконка.Якість.png", alt="")
                    H5.block__title Якість  
                    p.block__text Обладнання складається <br>з комплектуючих <br> європейського рівня. 
            .aboute__block.block
                    .block__image-wrapper
                        img.block__image(src="img/Складений_контур.png", alt="")
                    H5.block__title Гарантія  
                    p.block__text Продукти Trevent мають <br>24 місяці гарантії.
            .aboute__block.block
                    .block__image-wrapper
                        img.block__image(src="img/Іконка._Підтрика.png", alt="")
                    H5.block__title Підтримка  
                    p.block__text Кваліфікований персонал<br> завжди готовий допомогти.
            .aboute__block.block
                    .block__image-wrapper
                        img.block__image(src="img/Іконка._Технологія.png", alt="")
                    H5.block__title Технологія 
                    p.block__text Використовуються сучасні <br>технології та матеріали.
        .line          
