section.video
    .video__const
        H2 VIDEO
        .video__block-video    
            .video__main-video
                .video__upp
                    p Movie #1
                    .line-video
                    .lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                .play    
                    img(src="img/play.png", alt="#")
            .video__video-column
                button.video__clon
                    .png
                        img(src="img/1234.png", alt="#")
                    .name-video
                        p.movie Movie #1
                        div
                        span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        
                button.video__clon
                    .png
                        img(src="img/1234.png", alt="#")
                    .name-video
                        p.movie Movie #2
                        div
                        span.text lor Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.video__clon
                    .png
                        img(src="img/1234.png", alt="#")
                    .name-video
                        p.movie Movie #3
                        div
                        span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                button.video__clon
                    .png
                        img(src="img/1234.png", alt="#")
                    .name-video
                        p.movie Movie #4
                        div
                        span.text Lorem ipsum dolor sit amet, consectetur adipiscing elit.

                
