.video
    .video__container
        .video__block
            .circle
                img(src="../img/icon-play.png", alt="#")
            H3 Waxom video Presentation
            p Investigationes demonstraverunt lectores legere me lius quod li legunt<br>seapius, qui sequitur mutationem consuetudium.
            H6 03:26