section.who_we_are
    .who_we_are__const
        H2 who we are
        .who_we_are__info
            .column
                .people
                    img(src="img/1_people.png", alt="#")
                H3.title3 John Doe
                .under-line
                H4.title4 CEO
                .social
                    button
                        a(href="https://www.google.com/")
                        img(src="img/fb.png", alt="#")
                    button
                        a(href="https://www.google.com/")
                        img(src="img/tw.png", alt="#")    
                    button
                        a(href="https://www.google.com/")
                        img(src="img/G.png", alt="#")
            .column
                .people
                    img(src="img/2_people.png", alt="#")
                H3.title3 Victoria Brown
                .under-line
                H4.title4 Marketing Specialist
                .social
                    button
                        a(href="https://www.google.com/")
                        img(src="img/fb.png", alt="#")
                    button
                        a(href="https://www.google.com/")
                        img(src="img/G.png", alt="#")    
                    button
                        a(href="https://www.google.com/")
                        img(src="img/P.png", alt="#")
            .column
                .people
                    img(src="img/3_people.png", alt="#")
                H3.title3 Bill Johnson
                .under-line
                H4.title4 Senior Developer
                .social
                    button
                        a(href="https://www.google.com/")
                        img(src="img/fb.png", alt="#")
                    button
                        a(href="https://www.google.com/")
                        img(src="img/tw.png", alt="#")    
                    button
                        a(href="https://www.google.com/")
                        img(src="img/P.png", alt="#")
