.work#works
    .container
        .work__works
            .work__main.block-title    
                H2.maintitle Latest Works
                .mainline
                .titleh2
                    nav.titleh2__menu
                        ul.titleh2__list
                            each name in ['All', 'Branding', 'Design', 'Development', 'Strategy']
                                li
                                    a.titleh2__link(href="https://varta1.com.ua/" )= name
            .work__row
                
                +each-item
                    img(src="img/work1.png", alt="#")
                +each-item
                    img(src="img/work2.png", alt="#")
                +each-item
                    img(src="img/work3.png", alt="#")
                +each-item
                    img(src="img/work4.png", alt="#")
                +each-item
                    img(src="img/work5.png", alt="#")
                +each-item
                    img(src="img/work6.png", alt="#")
                +each-item
                    img(src="img/work7.png", alt="#")
                +each-item
                    img(src="img/work8.png", alt="#")
                +each-item
                    img(src="img/work9.png", alt="#")
    .our-work
        .our-work__opacity
            .container
                .our-work__block
                    H2 Do you like OUR WORK so far? 
                    H2  Let's talk about YOUR PROJECT!
                    button Get in Touch
                